[Desktop Entry]
Name=PostgreSQL Access
Comment=PostgreSQL Tcl/Tk front-end
Comment=Nakładka na PostgreSQL w Tcl/Tk
Exec=pgaccess
Icon=pgaccess.png
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
