[Desktop Entry]
Name=PostgreSQL Access
Comment=PostgreSQL Tcl/Tk front-end
Comment[pl]=Nakładka na PostgreSQL w Tcl/Tk
Exec=pgaccess
Icon=pgaccess
Terminal=false
Type=Application
Categories=Office;Database;
# vi: encoding=utf-8
